<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nature_of_task %>
    <%= form.text_field :nature_of_task, id: :task_nature_of_task %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :task_status %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.datetime_select :due_date, id: :task_due_date %>
  </div>

  <div class="field">
    <%= form.label :targeted_date %>
    <%= form.datetime_select :targeted_date, id: :task_targeted_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
