<%= form_for @client, :html => { :class => "form-horizontal client" } do |f| %>

  <% if @client.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:first_name) %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_name) %>
  </div>
  <div class="form-group">
    <%= f.label :contact_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :contact_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:contact_number) %>
  </div>
  <div class="form-group">
    <%= f.label :firm_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :firm_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:firm_name) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :client_type_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :client_type_id, options_for_select(ClientType.all.collect {|ct| [ ct.name, ct.id ] },(f.object.try(:client_type_id))),{prompt: 'Select A Client Type'}, { :class => 'form-control'} %>
    </div>
    <%=f.error_span(:client_type_id) %>
  </div>
  <div class="form-group">
    <%= f.label :Profile_pic, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :profile_pic, :class => 'form-control' %>
    </div>
    <%=f.error_span(:profile_pic) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
